.add-task {
 background-color: $white;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.add-task-header {
 width: 100%;
 background-color: darken($color: $grey, $amount: 10);
 display: flex;
 justify-content: space-between;
 padding: 10px;
}
.add-task-header span {
 margin: auto 10px;
 font-size: large;
 font-weight: 900;
 color: $white;
}

.add-task-body {
 padding: 15px;
}

.add-task-body label {
 width: 100%;
}

.add-task-body input {
 width: 100%;
}

.add-task-body textarea {
 width: 100%;
}

.inpLabel {
 color: $dark-grey;
 margin: 5px 0px 5px 0px;
}

#addTask:hover {
 background-color: $brand;
 color: white;
}
