.support-log {
    
}

.support-log-item {
    margin-bottom: 20px;
}

.support-log-item__email {
    font-weight: 700;
    margin-bottom: 5px;
}

.support-log__title {
    font-size: 20px;
    margin: 10px 0px;
}