.flip-container {
 width: 100%;
 display: flex;
 justify-content: space-evenly;
}

.flip-header {
 display: flex;
 justify-content: center;
 width: 100%;
 padding: 5px;
 border-top: 1px solid grey;
 border-left: 1px solid grey;
 border-right: 1px solid grey;
}

.friendActivity input {
 border: 1px solid grey;
 padding: 5px;
}
