.navbar { background-color: #222; }
  
a, .navbar-nav, .navbar-light .nav-link {
    color: black;
    &:hover { color: gray;
    text-decoration: none; }
  }
  
  
// .navbar-brand {
//     font-size: 1.4em;
//     color: black;
//     &:hover { color: white; }
// }

