.landingDisplay {
    background-color: red;
    height: 100vh;
}

.about {
    background-color: blue;
    height: 100vh;
}

.aboutText {

}

.aboutDisplay {

}

.laptopImage {
    width: 100%;
    margin: 20px 0px;
}