
//NAVBAR
.navButton {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    color: $light-grey;
    padding: 7.5px 15px;
    margin: 3px;
    border: 1px solid transparent;
    transition: .35s;
}

.navButton:focus {
    outline: none;
}

.navButton:hover {
    border: 1px solid $light-grey;
    transition: .35s;
}

.landingNav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

//BODY




.landing {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.landingDisplay {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 7.5vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $light-grey;
}

.about {
    background-color: $dark-grey;
    height: 100vh;
}

.aboutText {

}

.aboutDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.laptopImage {
   width: 100%;
}

.navButtonSignUp {
    border: none;
    border-radius: 10px;
    padding: 15px 20px; 
    color: white;
    background-color: $brand;
}

#mainButton {
    margin: 15px 0px;
    font-size: 30px;
}

.promotion {
    margin-top: 10px;
}