.react-autosuggest__container {
    padding: 10px;
    background-color: red;
}

.react-autosuggest__container--open {
    background-color: pink;
}

.react-autosuggest__suggestions-container {
    background-color: blue;
}

.react-autosuggest__suggestions-list {

}