@font-face {
    font-family: 'orbitron';
    src: url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
}

.stopwatch {
    padding: 30px;
//    background-color: red;
   
}

#stopDisplay {
    font-weight: 800;
    font-size: 50px;
    font-family: 'orbitron';
}