.subjects {
  
}

.subjects .scroller {
    background-color: blue;
    width: 30vw;
    height: 50vh;
    float:left;
}

.subjects .display {
    background-color: red;
    width: 60vw;
    height: 99vh;
    float:left;
}