.subjects {
  
}
.subjects .scroller {
    background-color: $white;
    width: 45vw;
    height: calc(100vh - #{$navbar-height} );
    float:left;
    overflow: scroll;
    border-right: 1px solid $dark;
}
.subjects .scroller .subjectButton {
    background-color: $white;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-left: 5px solid $grey;
    border-bottom: .1px solid lighten($color: $grey, $amount: 20%);
}

.subjects .scroller .subjectButton:hover {
    background-color: $light-grey;
}


.subjects .scroller .subjectButton .subjTitle {
    color: $dark-grey;
    width: 100%;
}

.subjects .scroller .subjectButton .subjDesc {
    width: 100%;
    font-size: 12px;
    color: $grey-text;
}

.subjects .display {
    background-color: $light-grey;
    width: 55vw;
    height: calc(100vh - #{$navbar-height} );
    float:left;
    padding: 25px;
}

.subjects .scroller .classHeader {
    width: 100%;
    
}

.subjects .scroller .classHeader .left {
    width: 50%;
    background-color: $light-grey;
    float: left;
    border-bottom: .1px solid lighten($color: $grey, $amount: 20%);
    text-align: left;
    margin-bottom: 5px;
}

.subjects .scroller .classHeader .title {
    padding: 5px 10px;
    margin: 7.5px;
    border: none;
    color: $dark-grey;
    border-radius: 3px;
}

.subjects .scroller .classHeader .right {
    margin-bottom: 5px;
    width: 50%;
    background-color: $light-grey;
    float: left;
    border-bottom: .1px solid lighten($color: $grey, $amount: 20%);
    text-align: right;
}
.subjects .scroller .classHeader .right button {
    padding: 5px 10px;
    margin: 7.5px;
    border: none;
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    border-radius: 3px;
}
.subjects .scroller .classHeader .right button:focus {
    outline: none;
}
.subjects .scroller .classHeader .right button:hover {
    background-color: $dark-grey;
    border: 1px solid $dark-grey;
    color: $light-grey;
}