.tasks .main-left {
    background-color: $white;
    width: 45vw;
    height: calc(100vh - #{$navbar-height} );
    float:left;
    border-right: 1px solid lighten($color: $grey, $amount: 20%);
}

.tasks .main-right {
    background-color: $light-grey;
    width: 55vw;
    height: calc(100vh - #{$navbar-height} );
    float:left;
    padding: 25px;
}
