.timer {
    margin-bottom: 0px;

}
.timer .inside {
    width: 60%;

}
.timer .inside input {
    width: 50px;
}

.minlab {
    margin: 3px;
}

.timeDisplay {
    font-weight: 150;
    font-size: 50px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 15px;
}