.friend-active-list-holder {
 //padding-top: 10px;
}

.active-friend {
 //border-bottom: 1px solid $grey;
 display: flex;
 justify-content: space-between;
 padding: 15px 15px;
}

.active-friend__left {
 display: flex;
}

.active-friend__left__avatar-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
}

.active-friend__left__avatar {
 width: 40px;
 height: 40px;
 border-radius: 20px;
 background-color: $grey;
 color: white;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 cursor: pointer;
}

.active-friend__left__credentials {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: flex-start;
}

.active-friend__left__credentials__name {
 color: white;
 font-size: 18px;
 cursor: pointer;
}

.active-friend__left__credentials__class {
 font-size: 12px;
 padding: 5px 0px;
}

.active-friend__left__credentials__task-type {
 font-size: 12px;
}

.col-center {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.last-active-icon {
 width: 50px;
 display: flex;
 height: 100%;
 justify-content: center;
 align-items: center;
 //border: 1px solid red;
}

.last-active-time-display {
 display: flex;
}

.last-active-time-display__time {
 margin-right: 3px;
}
