$popup-width: 450px;

.friend-modal {
 width: $popup-width;
}

.friend-modal__header {
 font-size: 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: $dark-grey;
 padding: 10px;
 color: white;
}

.friend-modal__body {
 padding: 15px;
 display: flex;
}

.friend-modal__body__col {
 width: 100%;
}

.friend-modal__body__col__list-title {
 font-size: 20px;
}

.friend-modal__body__col__list {
 max-height: 600px;
 overflow: scroll;
}

.friend-modal-subject-list-item__class-name {
 font-size: 16px;
 margin-top: 10px;
 display: flex;
 align-items: center;
}

.friend-modal-subject-list-item__circle {
 height: 7px;
 width: 7px;
 border-radius: 3.5px;
 background-color: black;
 margin-right: 7.5px;
}

.friend-modal-friend-list-item {
 margin: 10px 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.friend-modal-friend-list-item__name {
 font-size: 16px;
 margin-bottom: 2px;
}

.friend-modal-friend-list-item__university {
 font-size: 12px;
 color: $grey;
}

#but-add-friend {
 color: $white;
 //border: 1px solid $dark-grey;
 background-color: $brand;
 border-radius: 5px;
 padding: 6px;
 cursor: pointer;
 font-size: 14px;
}

#but-add-friend:hover {
 background-color: lighten($color: $brand, $amount: 10);
}

.friend-modal__body__col__remove-friend {
 margin-top: 10px;
 border: 1px solid red;
 color: red;
 font-size: 11px;
 background-color: transparent;
 border-radius: 5px;
 padding: 5px 8px;
}

.friend-modal__body__col__remove-friend:hover {
 color: white;
 background-color: red;
}

.friend-modal-friend-list-item__pending {
 font-size: 12px;
 color: $grey;
}

.friend-modal-friend-list-item__already-added {
 color: $grey;
}

.popup {
 color: black;
 position: absolute;
 left: -$popup-width;
 display: inline-block;
 background-color: white;
 min-width: $popup-width;
 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
