.loader {
 border: 2px solid transparent; /* Light grey */
 border-top: 2px solid white; /* Blue */
 border-bottom: 2px solid white; /* Blue */
 border-radius: 50%;
 width: 25px;
 height: 25px;
 animation: spin 2s linear infinite;
}

@keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}
