$line-grey: #d3d3d3;

.feed-list {
 border-right: 1px solid $line-grey;
}

.feed-list__header {
 padding: 15px;
 border-bottom: 1px solid #d3d3d3;
}

.feed-list__body {
 background-color: white;
}

.feed-item {
 padding: 7px;
 display: flex;
 border-bottom: 1px solid darken($color: #d3d3d3, $amount: 2);
 line-height: 20px;
}

.feed-initials {
 background-color: $grey;
 border-radius: 50%;
 height: 40px;
 width: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 color: white;
}

.feed-description {
 font-size: 13px;
}

.feed-description__time {
 color: grey;
 white-space: nowrap;
}
