$list-spacing: 25px;

.premium {
 display: flex;
 flex-direction: row;
 height: calc(100vh - 67px);
 background-color: #f9f9f9;
}

.premium-col {
 flex: 1;
 overflow-y: auto;
 height: 100%;
}

.premium-col_right {
    flex: 1;
    height: 100%;
}

.top-five {
 padding: 10px;
}

.top-five__title-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 15px;
}

.top-five__title-container__title {
 font-size: 20px;
 min-width: 175px;
}

.top-five__title-container__radio-container {
 display: flex;
 justify-content: end;
 min-width: 178px;
}

.top-five__list__item {
 display: flex;
 justify-content: space-between;
 margin-bottom: $list-spacing;
 cursor: default;
 //padding: 15px;
}

// .top-five__list__item:hover {
//  background-color: $light-grey;
// }

.top-five__list__item__left {
 display: flex;
}

.top-five__list__item__num {
 background-color: $grey;
 color: white;
 font-weight: 600;
 border-radius: 50%;
 padding: 4px 10px;
 margin-right: 10px;
}

.suggested-friends {
 padding: 10px;
}

.suggested-friends__title-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 20px;
 margin-bottom: 20px;
}

.suggested-friends__title-container__refresh {
 cursor: pointer;
}

.friend-streaks {
 padding: 10px;
}

.friend-streaks__title-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 20px;
 margin-bottom: 20px;
}

#fake-blur {
 color: transparent;
 text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 700px) {
 .premium {
  flex-direction: column;
  height: 100%;
 }
 .premium-col {
  flex: 1;
  overflow-y: show;
  height: 100%;
 }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
