.StripeElement {
 height: 40px;
 padding: 10px 12px;
 width: 100%;
 color: #32325d;
 background-color: white;
 border: 1px solid transparent;
 border-radius: 4px;

 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 -webkit-transition: box-shadow 150ms ease;
 transition: box-shadow 150ms ease;
}

.StripeElement--empty {
 width: 100%;
}

.StripeElement--focus {
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.StripeElement--invalid,
.invalid {
 border-color: #fa755a;
}

.StripeElement--webkit-autofill {
 background-color: #fefde5 !important;
}
