$light: #bcbcbc;
$dark: #33332e;
$white: #ffffff;

$light-grey: #F9F9F9;
$grey: #bcbcbc;
$grey-text: #656565;
$dark-grey: #2B2B2B;

// $brand: #FB275D;
// $brand-complement: #28CEF3;

$brand: #FB4033;
$brand-complement: #4e33fb;

$green: #66FF00;



$navbar-height: 56px;