$light: #bcbcbc;
$dark: #33332e;
$white: #ffffff;

$light-grey: #f9f9f9;
$grey: #bcbcbc;
$grey-text: #656565;
$dark-grey: #2b2b2b;

// $brand: #FB275D;
// $brand-complement: #28CEF3;

$brand: #fb4033;
$brand-complement: #4e33fb;

$green: #66ff00;

$navbar-height: 56px;
